.row{
    padding: 20px;
}
div{
    background-color:white;
    text-align: center;
}
h4{
   font-weight: bold;
   margin-top: 30px;
   margin-left: 10px;
   color: blue;
}
h5{
    font-weight: bold;
    margin-top: 50px;
    margin-left: 10px;
    color: blue;
 }
 h1{
     color: blue;
     margin-top: 60px;
 }
 p{color: blueviolet;}
 
 @media(min-width:576px){
     img{
         width: 200px;
         border-radius: 100%;
         box-shadow: 4px 3px 3px rgb(224, 228, 218);
         left: 2%;
         top: 2px;
         
     }
 }