<hr>
<div class="row"   *ngIf="persona">
        <!-- Tuve que modificar <img src={{persona.foto}}> por una imagen en assets por que no me traia esa imagen-->

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/ImgPerfil.jpg"
        class="img-fluid" id=""/>     
    </div>  
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <h3>{{persona.nombre}}</h3>
        <h4>{{persona.titulo}}</h4>
        
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            
            <h1>
                Acerca de mi
            </h1>
            <a *ngIf="isLogged"
                (click)="onOpenModal('edit', persona)"
                    class="btn btn-primary tooltips"
                    data-placement="top"
                    data-toggle="tooltip"
                    data-original-title="Edit">
                    <i class="fa fa-pencil"></i>
                </a>
            <h5>{{persona.descripcion}}              
                
            </h5>
           
        </span>
    </div>
</div>
 <!-- Editar-->

 <div 
 class="modal fade" 
 id="editPersonaModal" 
 tabindex="-1" 
 role="dialog" 
 aria-labelledby="personaEditModalLabel" 
 aria-hidden="true">

 <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title" id="updatePersonaciaModalLabel"> 
                 Editar Persona {{ editPersona?.titulo }}
             </h5>
             <button 
             type="button" 
             class="close" 
             data-dismiss="modal" 
             aria-label="Close">
                     <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
             <form #editForm="ngForm">
                 <div class="form-group">
                     <label for="name">Titulo</label>
                     <input 
                     type="text" 
                     ngModel="{{ editPersona?.titulo }}"
                     name="titulo" 
                     class="form-control" 
                     id="titulo" 
                     aria-describedby="emailHelp" 
                     placeholder="Titulo"/>
                 </div>
                 <input 
                 type="hidden"
                 ngModel="{{editPersona?.id}}"
                 name="id"
                 class="form-control"
                 id="id"
                 placeholder=""
                 />
                 <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input
                    type="text"
                ngModel="{{ editPersona?.nombre}}"
                name="nombre"
                class="form-control"
                id="nombre"
                placeholder="Nombre"
                    />
                </div>
                 
                 <div class="form-group">
                     <label for="descripcion">Descripcion</label>
                     <input
                     type="text"
                 ngModel="{{ editPersona?.descripcion }}"
                 name="descripcion"
                 class="form-control"
                 id="descripcion"
                 placeholder="Descripcion"
                     />
                 </div>
                 <!-- <div class="form-group">
                     <label for="foto"> Foto</label>
                 <input 
                 type="text" 
                 ngModel="{{ editPersona?.foto}}"
                 name="foto"
                 class="form-control"
                 id="foto"
                 placeholder="Foto" />
             </div> -->
                 
                 <div class="modal-footer">
                     <button 
                     type="button" 
                     id="" 
                     data-dismiss="modal" 
                     class="btn btn-secondary"> 
                     Cerrar
                 </button>
                     <button 
                     (click)="onUpdatePersona(editForm.value)" 
                     data-dismiss="modal" 
                     class="btn btn-primary"> 
                     Guardar cambios
                     </button>
                 </div>
             </form>
         </div>
     </div>
 </div>
</div>

